@model IEnumerable<TentsTrailersIAD.Models.Rating>
@{
    ViewBag.Title = "About";
}

<head>

    @Styles.Render("~/Content/MyScripts/Style.css")


</head>

<h1>About Us</h1>
<br>
<div class="container body-content">

    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Tents & Trailers</h2>
            <br>
            <p style="text-align: justify">
                Midst Cape Otway, the centre of the Great Ocean Road and the Great Ocean Walk,
                an area of magnificent forests, beaches, secluded bays and spectacular coastline.
                It is sheltered among tall manna gums far away from the wearing noise of towns and traffic.
            </p>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            <iframe width="600px" height="400px" align="right"
                    src="https://www.youtube.com/embed/WyGdYQazQLc"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media;
        gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">
            <br>
            @* image ref: https://memphite.com/dGVudHMgbmFwaWVyIG56/*@
            <img src="~/Content/Images/about-us-1.jpg" style="width:100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Gear Up</h2>
            <br>
            <p style="text-align: justify">
                Accommodation to suite all budgets from camp sites, powered camp sites, on-site vans, bunk rooms,
                standard and deluxe cabins. All set in sheltered manna gum woodland.
                Camp fires are permitted, however, during the summer months fires cannot be lit on total fire ban days.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h2>Backpacking</h2>
            <br>
            <p style="text-align: justify">
                Short walks and car trips take you to beaches and rock headlands
                where the great Southern Ocean roars onto the shore, or to small safe
                sandy bays and beaches where children can swim and play.
                There are lots of longer walks in the magnificent forests of Otway
                National Park including “The Great Ocean Walk” Australia’s premier walking trail.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <br>
            @*image ref: http://www.sarayhan.com.tr/aktiviteler*@
            <img src="~/Content/Images/about-us-2.jpg" style="width:100%" />
        </div>

    </div>


    <hr />

    <section>
        <div class="review">
            <h2>Customer Reviews</h2>
            <h4 style="font-style:italic">No. of Reviews: @Model.Count()</h4>
            <h4 style="font-style:italic">Rating: @Model.Average(i => i.Rating1).ToString("0.00") / 5</h4>
            <hr />


            @foreach (var item in Model)
            {
                <h5><b>Customer</b></h5>
                <h6> @Html.DisplayFor(modelItem => item.AspNetUser.Email) </h6>
                <h5><b>Comment</b></h5>
                <h6> @Html.DisplayFor(modelItem => item.Comment) </h6>
                <h5><b>Rating</b></h5>
                <h6> @Html.DisplayFor(modelItem => item.Rating1) </h6>
                <br />
            }

        </div>
    </section>
</div>

