@model TentsTrailersIAD.Models.BulkEmail

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (@ViewBag.Result != null)
    {
        <div class="alert alert-success alert-dismissible">
            @ViewBag.Result
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @*<div class="alert alert-info">@ViewBag.Result</div>*@
        </div>
    }
}
<head>
    @Styles.Render("~/Content/MyScripts/Style.css")
</head>

<h1>Contact Us</h1>
<div class=" container body-content">
    <section>
        <address>
            7/1 Muntz Street<br />
            Caulfield, VIC 3161<br />
            <abbr title="Phone">Contact No.:</abbr>
            410 147 003
        </address>

        <address>
            <strong>Support:</strong>   <a href="gaikwadsana@gmail.com">gaikwadsana@gmail.com</a><br />
        </address>
    </section>

    @using (Html.BeginForm("Contact", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        <div class="form-horizontal">
            @*<div class="form-group">
                    @Html.LabelFor(m => m.To, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.To, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.To)
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(m => m.From, "Email *", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.From, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.From, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Subject)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Body, "Content *", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Upload, "Attachment", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <input type="file" name="upload" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class=" btn btn-success" value="Send" />
                </div>
            </div>
        </div>


    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
