@model IEnumerable<TentsTrailersIAD.Models.Campsite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        @Styles.Render("~/Content/MyScripts/Style.css")
    </head>

<h1>Campsites</h1>
<div class="container body-content">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <section>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accomodates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accomodates)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CampId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CampId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CampId })
                    </td>
                </tr>
            }


        </table>
    </section>
</div>