@model IEnumerable<TentsTrailersIAD.Models.Registration>
@{
    ViewBag.Title = "My Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>

        @*<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
        <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print"/>*@
        <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.css" rel=" stylesheet" "   />
        <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css" rel=" stylesheet" />

        @Styles.Render("~/Content/MyScripts/Campsite_section_images.css")
        @Styles.Render("~/Content/MyScripts/StayYourStay.css")


    </head>
<h2>MyBookings</h2>
<div id="calendar"></div>
<div class=" mydata">
    <table class="table" style="margin-left:10px" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Member.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Member.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking.BookingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking.CampId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking.BookingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking.BookingStatus)
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.BookingId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.CampId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.BookingStatus)
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>
<div class=" wrapper" style="text-align:center">
    <a href="/Ratings/Create" class="button"  id="button-rate" style="align-content:center">Rate Experience</a>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.js" type="text/css" rel="stylesheet">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js " type="text/css" rel="stylesheet">
        >
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" type="text/css" rel="stylesheet">
        >
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" type="text/css" rel="stylesheet">
        >
    </script>


    <script type="text/javascript" async>
        $(document).ready(function () {
            $('.table').DataTable();
        });

    </script>


}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

