@model TentsTrailersIAD.Models.Precipitate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Precipitate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MONTHS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTHS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precipitation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precipitation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrecipitateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
